ClientWS_.Net/ClientWS_.Net/Connected Services/SR1/BanqueWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservice/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             name="BanqueWS" targetNamespace="http://webservice/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8686/?xsd=1" namespace="http://webservice/"/>
        </xsd:schema>
    </types>
    <message name="listComptes">
        <part name="parameters" element="tns:listComptes"/>
    </message>
    <message name="listComptesResponse">
        <part name="parameters" element="tns:listComptesResponse"/>
    </message>
    <message name="getCompte">
        <part name="parameters" element="tns:getCompte"/>
    </message>
    <message name="getCompteResponse">
        <part name="parameters" element="tns:getCompteResponse"/>
    </message>
    <message name="ConversionEurotoDH">
        <part name="parameters" element="tns:ConversionEurotoDH"/>
    </message>
    <message name="ConversionEurotoDHResponse">
        <part name="parameters" element="tns:ConversionEurotoDHResponse"/>
    </message>
    <portType name="BanqueService">
        <operation name="listComptes">
            <input wsam:Action="http://webservice/BanqueService/listComptesRequest" message="tns:listComptes"/>
            <output wsam:Action="http://webservice/BanqueService/listComptesResponse"
                    message="tns:listComptesResponse"/>
        </operation>
        <operation name="getCompte">
            <input wsam:Action="http://webservice/BanqueService/getCompteRequest" message="tns:getCompte"/>
            <output wsam:Action="http://webservice/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
        </operation>
        <operation name="ConversionEurotoDH">
            <input wsam:Action="http://webservice/BanqueService/ConversionEurotoDHRequest"
                   message="tns:ConversionEurotoDH"/>
            <output wsam:Action="http://webservice/BanqueService/ConversionEurotoDHResponse"
                    message="tns:ConversionEurotoDHResponse"/>
        </operation>
    </portType>
    <binding name="BanqueServicePortBinding" type="tns:BanqueService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listComptes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCompte">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ConversionEurotoDH">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BanqueWS">
        <port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
            <soap:address location="http://localhost:8686/"/>
        </port>
    </service>
</definitions>
